h2 {
  text-align: left;
}

ul {
  list-style: none;
  text-align: center;
}
#choice1,
#choice2,
#choice3,
#choice4 {
  margin: 15px;
  padding: 10px;
  background-color: cornflowerblue;
  color: white;
}
#choice4 {
  margin-bottom: 70px;
}
.container {
  position: relative;
  background: rgba(14, 63, 21, 0.05);
  margin-top: 60px;
  height: 400px;
}

#left-span {
  margin-left: 10px;
}
#right-span {
  float: right;
  margin-right: 40px;
}

#question-background {
  background-color: cornflowerblue;
}

#choice1:hover,
#choice2:hover,
#choice3:hover,
#choice4:hover {
  background-color: blue;
}

#answer-correctness {
  color: rgb(238, 130, 130);
  font-family: Comic Sans MS, Comic Sans, cursive;
}

/* bellow are selectors regarding to index.html*/

h1 {
  padding-top: 40px;
  text-align: center;
}

#firstPage button {
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
}

#firstPage #right-span {
  float: right;
  margin-right: 40px;
}

#firstPage .innerText {
  padding-left: 25%;
  padding-right: 20%;
}

/* bellow are selectors for scorePage.html*/

#score-page-right-span {
  float: right;
  margin-right: 40px;
}
.scorePage #finalScore {
  text-align: center;
}
.scorePage #initialsForm {
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
}
/* bellow are selectors for highScoresPage.html*/

ol,
li {
  margin-left: 10px;
  padding: 0;
}
#center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
